#container {
    position: absolute;
    top: 100px;
    left: 200px;
    right: 200px;


    margin: 0px auto;
    text-align: center;
}

#canvas {
    margin-top: 20px;
    border: 1px solid black;
    width: 100%;
    height: 100%;
}

#centeredText{
    padding: 10px;
    margin-left: 25%;
    font-size: 75px;
}